$text: #27300f;
$orange: #d26a22;
$wh: #fff;
.header
{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav
    {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 48px;
    }
    &__link
    {
        font-size: 16px;
        color: $text;
        text-decoration: none;
        &:hover
        {
            color: $orange;
        }
    }
    &__tel
    {
        font-size: 16px;
        color: $text;
        text-decoration: none;
        &:hover
        {
            color: $orange;
        }
    }
    &__cart
    {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 17px 15px;
        background-image: url(../img/cart.svg);
        background-color: $orange;
        position: relative;
    }
    &__counter
    {
        font-size: 8px;
        color: $wh;
        position: absolute;
        right: 10px;
        top: 6px;
    }
}
.logo
{
    display:block;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 123px;
    height: 32px;
}