$bg: #eee;

.box
{
    background-color: $bg;
    &__title 
    {
        color: #f00;
    }
    &__image
    {
        max-width: 200px;
    }
    &__svg
    {
        fill: blueviolet;
        &:hover
        {
            fill: gold
        }
    }
}